*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #545454;
}

.main-nav{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}

.sub-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 64px;
    background-color: #7f00ff;
    padding-left: 30px;
    padding-right: 30px;
    z-index: 10;
    width: 100%;
}

h1{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 25px;
    letter-spacing: 5px;
    color: white;
    flex-basis: 80%;
}

:target:before {
    content:"";
    display:block;
    height: 110px; /* fixed header height*/
    margin:-90px 0 0; /* negative fixed header height */
}

.menu{
    display: none;
    background-color: #2f00ff;
    width: 100%;
    height: 130px;  
    border-radius: 20px;
    z-index: 10;
}


.main-nav-el{
    font-size: 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 30px;
    font-weight: 500;
}

.hamburger a{
    font-size: 25px;
    color: white;
    text-decoration: none;
    text-align: right;
}




main{
    padding-top: 64px;
}

header{
    padding: 25% 30px;
    background: url('media/jd-website-design-cover.jpg');
    background-size: cover;
    line-height: 28px;
    transform: scaleX(-1);
    
}

h2{
    text-align: left;
    transform: scaleX(-1);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

#about-me{
    padding: 10% 30px;
}

#projects{
    padding: 10% 30px;
    background-color: #efefef;
}


h3{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 10%;
    font-size: 22px;
    font-weight: 700;
    color: white;
    
}

p{
    margin-bottom: 20px; 
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 1px;
    text-align: left;
}

h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
}

img{
    width: 100%;
    margin-bottom: 5%;
    border-radius: 20px;
}

a{
    margin-bottom: 5%;
    display: block;
}

h5{
    text-align: center;
    margin-bottom: 5%;
}

svg{
    width: 30px;
    height: 30px;
}

.tech-stack{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.tech-icon{
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

.github-icon{
    width: 15px;
    height: 15px;
}

.project-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}


.github-repo, .see-live{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;    
    border-radius: 10px;
    height: 50px;
    font-weight: 500;
    padding: 0;
    background-color: #2f00ffdc;
    margin-top: 10px;
    
}

.github-repo:hover, .see-live:hover, 
.github-repo:active, .see-live:active{
    background-color: #27214f;
}

.github-repo{
    margin-right: 5px;
}

.see-live{
    margin-left: 5px;
}

.github-repo a, .see-live a{
    text-decoration: none;
    color: #ffffff;
}



.sub-heading{
    background-color: inherit;
    height: 65px;
    margin-bottom: 10%;
    border-radius: 17px;
    padding-top: 22.5px;
    background-color: #2f00ffdc;;
}

footer{
    background-color: #7f00ff;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

h6{
    font-family: 'Hammersmith One', sans-serif;
    line-height: 30px;
}

footer li{
    line-height: 28px;
}

strong{
    font-weight: 700;
}

h6{
    text-align:center;
    line-height: 40px;
}
footer a{
    display: inline;
    text-decoration: none;
    color: white;
}

@media screen and (min-width: 760px) {

    h2{
        font-size: 30px;
        line-height: 37px;
    }

    .project-content-2{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .project-img{
        width: 40%;
        margin-right: 20px;
        height: 100%;
    }

    .tech-stack{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
    }

    h5{
        margin-bottom: 20px;
    }

    .tech-icon{
        margin-bottom: 20px;
    }
   
    #project-image-1{
        width: 50%;
    }

    .sub-heading{
        margin-bottom: 7%;
    }

    #about-me{
        padding: 7% 30px;
    }
    
    #projects{
        padding: 7% 30px;
    }

    footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    h6{
        font-size: 24px;

    }
    
    .github-repo, .see-live{
        flex-basis: 25%;
    }

}


@media screen and (min-width: 1200px){

    .main-nav{
        flex-direction: row;
        background-color: #7f00ff;
        justify-content: flex-start;
    }

    h1{
        flex-basis: 50%;
    }

    .github-repo, .see-live{
        flex-basis: 15%;
    }


    h2{
        font-size: 30px;
        line-height: 48px;
        margin-top: 100px;
        width: 45%;
        position: absolute;
        bottom: 60px;
        right: 60px;
        
    }

    h3{
        margin-bottom: 0;
    }

    #about-me{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        
    }

    .sub-nav{
        justify-content: flex-start;
    }

    #projects{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        padding-top: 0;
        padding-left: 0px;
        padding-right: 0px;
    }

    #projects .sub-heading{
        width: 100%;
        border-radius: 0;
        height: 64px;
        margin-bottom: 0%;
    }

    #projects .content{
        width: 100%;
        padding: 60px;
    }

    

    #about-me .sub-heading{
        flex-basis: 35%;
    }

    #about-me .content{
        flex-basis: 60%;
    }

    #nav-elements li{
        display: inline-block;
    }
    

    .main-nav-el a{
        text-decoration: none;
        color: white;
        
    }

    .hamburger{
        display: none;
        flex-basis: none;
    }
    
    .main-nav{
        padding-left: 60px;
        padding-right: 60px;
    }
    header{
        padding: 15% 60px;
    }

    #about-me{
        padding-left: 60px;
        padding-right: 60px;
    }

    

    .menu{
        flex-basis: 40%;
        display: block;
        height: inherit;
        margin: inherit;
        text-align: right;
        background-color:inherit;
    }

    .main-nav-el{
        
        font-family: 'Hammersmith One', sans-serif;
        margin-left: 15px;

    }

    .github-repo{
        margin-right: 15px;
    }
    
    .see-live{
        margin-left: 15px;
    }

    
    
}
